* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBC204;
    background-image: none;
}

/* FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
    
/* HEADER  */

header {
    border-bottom: 5px solid #F9575C;
    font-family: 'Quicksand', sans-serif;
}

header .text-header {
    font-weight: bold;
    text-align: center;
    color: #FCC302;
}

header .text-header h3, h5 {
    font-weight: bold;
}

.logo {
    width: 200px;
    margin-left: 20%;
    color: #FCC302 !important;
}

ul li {
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.8s;
}

ul li:hover {
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
    background-color: #FCC302;
    color: #fff !important;
}

ul li:hover a{
    color: #fff !important;
}

/* QUERO AJUDAR */

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #333!important;
    font-weight: bold;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    width: auto !important;
}

.sobre-nos h3 {
    color: #333;
    font-weight: bold;
}

table a {
    text-decoration: none;
    color: #FBC204;
    font-weight: bold;
}

table a:hover {
    text-decoration: none;
    color: #ce9f07;
    font-weight: bold;
}

.copy {
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    color: #ce9f07;
    cursor: pointer;
}

@media only screen and (max-width: 375px) {

    body {
        background-color: #FBC204;
    }

    .sobre-nos {
        width: auto;
        margin: 20px;
    }

    .principal {
        flex-direction: row;
    }

    .logo {
        width: 200px;
        margin-left: 30%;
        color: #FCC302 !important;
    }

    .navbar-dark .navbar-toggler {
        margin-bottom: 5%;
    }

    /* QUERO AJUDAR */

    .formas-pagamento {
        flex-direction: column;
        margin: 0;
    }

    /* QUERO AJUDAR */

    .formas-pagamento {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        margin: 0;
        align-items: center;
        margin: 0;
    }

    .mercado-pago {
        width: auto;
    }

    .nubank {
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {

    body {
        /* background-image: url("https://i.ibb.co/K9Yq7xq/background-mobile-2.jpg");
        background-size: cover;
        background-repeat: no-repeat; */
        background-color: #FBC204;
        height: 100%;
    }

    .logo {
        width: 200px;
        margin-left: 50%;
        color: #FCC302 !important;
    }

    .sobre-nos {
        width: auto;
        margin: 20px;
    }

    .principal {
        flex-direction: column;
    }

    .navbar-dark .navbar-toggler {
        margin-bottom: 5%;
    }

    /* QUERO AJUDAR */

    .formas-pagamento {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    margin: 0;
    }

    .mercado-pago {
        width: auto;
    }

    .nubank {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

    body {
        /* background-image: url("https://i.ibb.co/K9Yq7xq/background-mobile-2.jpg");
        background-size: cover;
        background-repeat: no-repeat; */
        background-color: #FBC204;
        height: 100%;
    }

    .sobre-nos {
        width: auto;
        margin: 20px;
    }
}